{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container">
<h2 class="mt-4">Modifier votre profil</h2>
{% for message in app.flashes('success') %}
  
    <div class="alert alert-success">
        {{ message }}
    </div>
    
    
{% endfor %}
{{ form_start(form) }}
{{ form_widget(form) }}


<button type="submit" class="btn btn-primary mt-4">Modifier</button>
{{ form_end(form) }}


</div>




{% endblock %}
